@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ErrorPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<section class="section">
	<div class="container">
		<div class="col-md-3">
			<nav class="nav-bar nav-bar--list">

			</nav>
		</div>
	</div>
</section>