@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Website.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PasswordReset>

@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<h1>Chnage your Password Here</h1>

@await Html.PartialAsync("_ChangePassword", new ChangingPasswordModel())