@using E_Learning.Controllers
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ResetForgotPassword>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

@using (Html.BeginUmbracoForm<RegisterMemberController>("ResetForgotPassword", FormMethod.Post))
{
    <div class="form-group">
        <div class="mb-3">
            <label for="newpassword" class="form-label">New Password</label>
            <input type="text" name="newpassword" class="form-control" required="" />
            @* <span asp-validation-for="@Model.OldPassword" class="form-text text-danger"></span> *@
        </div>
       @*  <div class="mb-3">
            <label asp-for="@Model.NewPassword" class="form-label">New Password</label>
            <input asp-for="@Model.NewPassword" class="form-control" required="" />
            <span asp-validation-for="@Model.NewPassword" class="form-text text-danger"></span>
        </div> *@

    </div>
    <div class="form-group"> <button type="submit" class="btn btn-danger">Save</button></div>
}
